@import url(//fonts.googleapis.com/css?family=Open+Sans);
*{
  font-family: 'AirbnbCereal', 'Open Sans';
  margin: 0;
  padding: 0;
}

.card1{
  border-radius: 3px;
  box-shadow: -8px 8px 8px 7px rgba(0, 0, 0, 0.2);
  height: 280px;
  background-color: rgb(228, 222, 214);
  margin-bottom: 23px;
}

.card2{
  height: 200px;
}

@media (min-width: 768px) { 
  nav.navbar{
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.1);
  }

  .products{
    overflow-y: scroll;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 1%;
    position: relative;
    height: 92vh !important;
    background-color: rgb(202, 198, 195)
  }

  .ManP{
    background-color: rgb(238, 233, 227);
  }

  .ManC{
    background-color: rgb(233, 233, 233);
  }

  .TableMP{
    box-shadow: 2px 8px 8px 7px rgba(8, 8, 8, 0.3);
  }

  .TableMC{
    box-shadow: -8px 8px 8px 7px rgba(0, 8, 8, 0.2);
    margin-bottom: 50px;
  }

  .nav-link{
    color: black;
  }

  .login{
    background-image: url('./assets/img/background.png');
    height: 400px;
  }
}
