@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');


* {
  font-family: 'AirbnbCereal', 'Open Sans';
}

.body {
  overflow-x: hidden;
}

.nameBrand {
  font-family: 'Dosis', sans-serif;
}

.card1 {
  /* border-radius: 30px 50px 40px 50px; */
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.1);
  height: 280px;
  background: transparent;
  margin-bottom: 23px;
}

.card2 {
  height: 60%
}

@media (min-width: 768px) {
  nav.navbar {
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.1);
  }

  .products {
    overflow-y: auto;
    padding-left: 3%;
    padding-right: 2%;
    height: 92vh !important;
    background-color: rgb(231, 231, 231)
  }

  .ManP {
    background-color: rgb(238, 233, 227);
  }

  .ManC {
    background-color: rgb(233, 233, 233);
  }

  .TableMP {
    box-shadow: 2px 8px 8px 7px rgba(8, 8, 8, 0.3);
  }

  .TableMC {
    box-shadow: -8px 8px 8px 7px rgba(0, 8, 8, 0.2);
    margin-bottom: 50px;
  }

  .nav-link {
    color: rgb(102, 101, 101);
  }

  .navlink{
    color: rgb(0, 0, 0);
}
}